
LolayHttpClient.xcodeproj/xcuserdata/bruce.xcuserdatad/xcschemes/xcschememanagement.plist

LolayHttpClient.xcodeproj/xcuserdata/bruce.xcuserdatad/xcschemes/LolayHttpClient.xcscheme

LolayHttpClient.xcodeproj/project.xcworkspace/xcuserdata/bruce.xcuserdatad/UserInterfaceState.xcuserstate

LolayHttpClient.xcodeproj/project.xcworkspace/xcshareddata/LolayHttpClient.xccheckout
